.about-body {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.card-container {
    height: 30rem;
    width: 18rem;
    margin: 10px 10px 10px 10px;
}

.card-img-top {
    height: 18rem;
    width: 100%;
}