@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html, body {
    height: 100%;
    background-color:#00acee;
}

.fill {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    
    color: white;
}

.appTitle {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.contentBody {
    width: auto;
    height: 100%;
    display: flex; 
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1rem;
}

