.sentimentOutputBox {
    width: 100%;
    /* width: auto; */
    height: 50%;
    /* margin: 0rem 5rem 0rem 5rem; */
    color: black;
    display: flex; 
    justify-content: center;
}

.center-output {
    width: 85%;
    background-color: white;
    opacity: 0.8;

}