.sentimentOutputBox {
    width: 100%;
    z-index: 18;
    /* width: auto; */
    min-height: 70%;
    height: auto;
    /* margin: 0rem 5rem 0rem 5rem; */
    color: black;
    display: flex; 
    justify-content: center;
}

.center-output {
    width: 90%;
    background-color: white;
    opacity: 1.0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.align-guage {
    display: inline-block;
    border: solid 1px white;
    width: 100px;
}

.tweet-text-wrapper {
    width: 35%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    border-right: lightgray;
    border-style: dotted;
    border-width: 0px 2px 0px 0px;
    overflow: hidden;
}

.sentiment-display-wrapper {
    width: 65%; 
    min-height: 70%;
    height: auto;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sent-title{
    margin-bottom: 2rem;
}

.sentence-hover {
    cursor: pointer;
}

.joy {
    font-weight: bold;
    color: #388e3c;
    /* color: #4caf50; */
}

.sadness {
    font-weight: bold;
    color: #2196f3;
}

.anger {
    font-weight: bold;
    color: #f50057;
}

.analytical{
    font-weight: bold;
    color: #7e57c2;
}

.confident {
    font-weight: bold;
    color: #00bcd4;
}

.tentative {
    font-weight: bold;
    color: #009688;
}