.sentimentOutputBox {
    width: 100%;
    z-index: 18;
    /* width: auto; */
    height: 70%;
    /* margin: 0rem 5rem 0rem 5rem; */
    color: black;
    display: flex; 
    justify-content: center;
}

.center-output {
    width: 90%;
    background-color: white;
    opacity: 0.8;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.align-guage {
    display: inline-block;
    border: solid 1px white;
    width: 100px;
}

.tweet-text-wrapper {
    width: 30%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    border-right: lightgray;
    border-style: dotted;
    border-width: 0px 2px 0px 0px;
}

.sentiment-display-wrapper {
    width: 70%; 
    height: 100%;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
}