.sentiment-body {
    width: 90%;
    min-height: 100vh;
    height: auto;
    background-color: white;
    margin: 6rem auto auto auto;
    padding: 2rem 2rem 2rem 2rem;
    align-content: center;
    text-align: center;
}

.sentiment-table {
    width: 75%;
    height: auto; 
    margin: 2rem auto 2rem auto;
    align-content: center;
}
.sentiment-type {
    width: 20%;
    text-align: right;
}

.sentiment-def {
    text-align: left;
    align-content: center;
}